/*===================================================
              LAYOUT y CLASES GENERALES                                     
===================================================*/
@import url(reset.css);
@import url(mood.css);
@import url(formularios.css);
.multicolumna {
  -moz-column-width: 20em;
  -moz-column-gap: 20px;
  -webkit-column-width: 20em;
  -webkit-column-gap: 20px;
  -webkit-column-rule: 1px solid #EEE;
  -moz-column-rule: 1px solid #EEE; }

body, html {
  font: 12px/1.5 'Arial', sans-serif;
  color: #333; }

p {
  margin-bottom: 12px;
  font: 12px/1.5 'Arial', sans-serif; }

strong, b {
  font-weight: bold; }

hr {
  clear: both;
  margin: 20px 0;
  height: 1px;
  border: 0;
  background-color: #CCC; }

em, i {
  font-style: italic;
  color: #666; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  font-weight: normal;
  color: #333;
  letter-spacing: 0;
  font-family: 'Arial', sans-serif; }

h1 {
  font-size: 22px;
  margin-bottom: 11px;
  font-weight: bold; }

h2 {
  font-size: 20px;
  margin-bottom: 10px; }

h3 {
  font-size: 18px;
  margin-bottom: 9px; }

h4 {
  font-size: 16px;
  margin-bottom: 8px; }

h5 {
  font-size: 14px;
  margin-bottom: 7px; }

h6 {
  font-size: 12px;
  margin-bottom: 6px; }

ul {
  padding: 10px 40px; }
  ul li {
    list-style: disc; }
  ul.simple {
    padding: 10px 20px; }
    ul.simple li {
      list-style: none;
      padding: 5px 0; }
      ul.simple li img {
        float: left;
        margin-right: 5px; }

a:link, a:visited {
  color: #333; }

a:active, a:hover {
  text-decoration: underline; }

.clear {
  clear: both; }

.left, .right, .center {
  float: left;
  display: block; }

.alert {
  color: #d00; }

.txtL {
  text-align: left; }

.txtC {
  text-align: center; }

.txtR {
  text-align: right; }

.floatR {
  float: right; }

.floatL {
  float: left; }

.subTit {
  color: #666;
  font-weight: normal; }

/*---------------------------------------------------*/
.wrap {
  margin: auto;
  text-align: left;
  width: 960px; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

table {
  line-height: 1.2em;
  overflow-x: scroll;
  font-family: 'Arial', sans-serif; }
  table td, table th {
    padding: 10px;
    word-wrap: break-word; }
  table th {
    font-weight: bold; }
  table thead td, table thead th {
    font-weight: bold; }
  table tfoot tr td {
    background-color: #EEE;
    vertical-align: middle;
    font-size: 11px; }
    table tfoot tr td a {
      padding: 2px 5px;
      -webkit-border-radius: 2px 2px 2px 2px;
      -moz-border-radius: 2px 2px 2px 2px;
      border-radius: 2px 2px 2px 2px;
      text-decoration: none; }
      table tfoot tr td a:link, table tfoot tr td a:visited {
        text-decoration: none; }
      table tfoot tr td a:hover, table tfoot tr td a:active {
        color: #FFF; }
      table tfoot tr td a.activo {
        color: #FFF; }

/*---------------------------------------------------*/
/*===================================================      
                    CONTENIDO                                           
===================================================*/
.tips td {
  width: 265px;
  padding: 10px 10px 10px 70px; }
  .tips td:nth-child(1) {
    background: #EEE url("../img/icon-1.png") no-repeat 10px 10px; }
  .tips td:nth-child(2) {
    background: #EEE url("../img/icon-2.png") no-repeat 10px 10px; }
  .tips td:nth-child(3) {
    background-color: #EEE;
    width: 250px;
    padding: 10px;
    vertical-align: middle; }
  .tips td a:link, .tips td a:visited {
    padding: 10px;
    background-color: #666;
    color: #FFF;
    text-decoration: none;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px; }
  .tips td a:hover, .tips td a:active {
    background-color: #333; }

rect {
  cursor: pointer; }

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../img/page-loader.gif") 50% 50% no-repeat #f9f9f9; }

#elastic_lists {
  text-align: center; }

.total {
  font-weight: bold; }

#overlay {
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  background-color: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 50;
  width: 100%;
  height: 100%;
  display: none; }

#info {
  margin: auto;
  padding: 20px;
  width: 400px;
  background: #fff;
  box-shadow: 0 4px 16px #999;
  z-index: 51;
  border: 1px  solid #acacac;
  position: absolute;
  display: none; }

#results {
  width: 400px; }

/*===================================================            
                     BOTTOM                                                     
===================================================*/

/*# sourceMappingURL=style.css.map */
