// - - - - - - - - - - - - - - - - - - - - -
// Titulo : 
// Creado :  
// Por: 
// Modificado : 
// Modificado : 
// - - - - - - - - - - - - - - - - - - - - -


/*===================================================
              LAYOUT y CLASES GENERALES                                     
===================================================*/
@import "reset.css";
@import "mood.css";
@import "formularios.css";


//colores

//colores


@mixin piecss() { 
	behavior: url(../PIE.php); 
	/* position: relative; */
}

@mixin redondeado ($tl, $tr, $br, $bl) {
	-webkit-border-radius: $tl $tr $br $bl;
	-moz-border-radius: $tl $tr $br $bl;
	border-radius: $tl $tr $br $bl;
}

@mixin gradientH ($inicio, $fin) {
	background: $inicio;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from($inicio), to($fin));
	background: -webkit-linear-gradient($inicio, $fin);
	background: -moz-linear-gradient($inicio, $fin);
	background: -ms-linear-gradient($inicio, $fin);
	background: -o-linear-gradient($inicio, $fin);
	background: linear-gradient($inicio, $fin);
	-pie-background: linear-gradient($inicio, $fin);
}

@mixin gradientV ($inicio, $fin) {
	background: $inicio;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from($inicio), to($fin));
	background: -webkit-linear-gradient($inicio, $fin);
	background: -moz-linear-gradient($inicio, $fin);
	background: -ms-linear-gradient($inicio, $fin);
	background: -o-linear-gradient($inicio, $fin);
	background: linear-gradient($inicio, $fin);
	-pie-background: linear-gradient($inicio, $fin);
}

@mixin shadow($h,$v,$b,$s,$color) {
	-webkit-box-shadow: $h $v $b $s $color;
	-moz-box-shadow: $h $v $b $s $color;
	box-shadow: $h $v $b $s $color;
}
@mixin shadowRGBA($h,$v,$b,$s,$r,$g,$b,$a) {
	-webkit-box-shadow: $h $v $b $s rgba($r, $g, $b, $a);
	-moz-box-shadow: $h $v $b $s rgba($r, $g, $b, $a);
	box-shadow: $h $v $b $s rgba($r, $g, $b, $a);
}

@mixin innershadow($blur,$color){
	-webkit-box-shadow: inset 1px 1px $blur 0px $color;
    box-shadow: inset 1px 1px $blur 0px $color;
}

@mixin glow($blur,$color) {
	-webkit-box-shadow: 0px 0px $blur 0px $color;
	-moz-box-shadow: 0px 0px $blur 0px $color;
	box-shadow: 0px 0px $blur 0px $color;
}

@mixin txtShadow($color){
	text-shadow: 1px 1px 0px $color;
}

@mixin easing($seg) {
   transition-duration: $seg;
    -webkit-transition-duration: $seg;
    -moz-transition-duration: $seg; 
    -ms-transition-duration: $seg; 
    -o-transition-duration: $seg;
}

@mixin gradiente($inicio,$fin){
	background: $inicio; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RlNmYxYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYzgxMTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  $inicio 0%, $fin 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$inicio), color-stop(100%,$fin)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  $inicio 0%,$fin 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  $inicio 0%,$fin 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  $inicio 0%,$fin 100%); /* IE10+ */
	background: linear-gradient(to bottom,  $inicio 0%,$fin 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$inicio', endColorstr='$fin',GradientType=0 ); /* IE6-8 */

}

.multicolumna{
   -moz-column-width: 20em;
   -moz-column-gap: 20px;
   -webkit-column-width: 20em;
   -webkit-column-gap: 20px;
   -webkit-column-rule: 1px solid #EEE;
   -moz-column-rule: 1px solid #EEE;
}

body, html{ 
	font: 12px/1.5 'Arial', sans-serif;
	color: #333;
}

p								{ margin-bottom: 12px; font: 12px/1.5 'Arial', sans-serif;}
strong, b						{ font-weight: bold;}
hr								{ clear: both; margin: 20px 0; height: 1px;  border: 0; background-color: #CCC;}
em, i							{ font-style: italic; color: #666;}

h1, h2, h3, h4, h5, h6			{ 	
								  line-height: 1.5;  
								  font-weight: normal;
								  color: #333;
								  letter-spacing: 0;
								  font-family: 'Arial', sans-serif;
								  
								}	
h1								{ font-size: 22px; margin-bottom: 11px; font-weight: bold;}						
h2								{ font-size: 20px; margin-bottom: 10px; }
h3								{ font-size: 18px; margin-bottom: 9px; }
h4								{ font-size: 16px; margin-bottom: 8px; }
h5								{ font-size: 14px; margin-bottom: 7px; }
h6								{ font-size: 12px; margin-bottom: 6px; }

ul{
	padding: 10px 40px;
	li{
		list-style: disc;
	}

	&.simple{
		padding: 10px 20px;
		li{
			list-style: none;
			padding: 5px 0;

			img{
				float: left;
				margin-right: 5px;
			}
		}
	}
}

a:link, a:visited{color: #333;}
a:active, a:hover{text-decoration: underline;}

.clear{ clear: both; }

.left, .right, .center{ float: left; display: block; }

.alert{ color: #d00; }

.txtL{ text-align: left; }
.txtC{ text-align: center; }
.txtR{ text-align: right; }

.floatR{ float: right; }
.floatL{ float: left; }


.subTit{
	color: #666;
	font-weight: normal;
}
/*---------------------------------------------------*/

.wrap{ margin: auto; text-align: left; width: 960px;}
.relative{ 	position: relative; }
.absolute{	position: absolute; }

table{
	line-height: 1.2em;
	overflow-x: scroll;
	font-family: 'Arial', sans-serif;

	td,th{
		padding: 10px;
		word-wrap: break-word;
	}
	
	th{
		font-weight: bold;
	}
	thead{
		td,th{
			font-weight: bold;
		}
	}
	tfoot{
		tr{
			td{
				background-color: #EEE;
				vertical-align: middle;
				font-size: 11px;

				a{
					padding: 2px 5px;
					@include redondeado(2px,2px,2px,2px);
					text-decoration: none;
					
					&:link, &:visited{
						text-decoration: none;
					}
					&:hover, &:active{
						color: #FFF;
					}

					&.activo{
						color: #FFF;
					}
				}
			}
		}
	}

}


/*---------------------------------------------------*/




/*===================================================      
                    CONTENIDO                                           
===================================================*/
// .tooltip{
// 	width: 300px;

// 	td, th{
// 		padding: 2px;
// 	}
// 	.tab_sec td{
// 		font-size: 11px;
// 	}
// }
// .per_ejex{
// 	color: #35B140;
// 	font-size: 32px;
// }

.tips{
	td{
		width: 265px;
		padding: 10px 10px 10px 70px;

		&:nth-child(1){
			background: #EEE url('../img/icon-1.png') no-repeat 10px 10px;
		}
		&:nth-child(2){
			background: #EEE url('../img/icon-2.png') no-repeat 10px 10px;
		}

		&:nth-child(3){
			background-color: #EEE;
			width: 250px;
			padding: 10px;
			vertical-align: middle;
		}

		a{
			&:link, &:visited{
				padding: 10px;
				background-color: #666;
				color: #FFF;
				text-decoration: none;
				@include redondeado(3px,3px,3px,3px);
			}
			&:hover, &:active{
				background-color: #333;
			}
		}
	}
}



rect {
	cursor: pointer;
}
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../img/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}
#elastic_lists {
	text-align: center;
}
.total{
	font-weight: bold;
}

#overlay {
	filter:alpha(opacity=0); 
	-moz-opacity:0; 
	-khtml-opacity: 0; 
	opacity: 0;  
	background-color: #fff; 
	position: absolute; 
	top: 0px; left: 0px; 
	z-index: 50; 
	width: 100%; 
	height: 100%; 
	display:none;
}
#info{
	margin:auto; 
	padding:20px; 
	width:400px; 
	background:#fff; 
	box-shadow: 0 4px 16px #999; 
	z-index: 51; 
	border:1px 
	solid #acacac;  
	position:absolute; 
	display:none;
}
#results{width:400px;}
/*===================================================            
                     BOTTOM                                                     
===================================================*/

