/*===================================================
              LAYOUT y CLASES GENERALES                                     
===================================================*/
@import url(reset.css);
@import url(mood.css);
@import url(formularios.css);



.multicolumna {
  -moz-column-width: 20em;
  -moz-column-gap: 20px;
  -webkit-column-width: 20em;
  -webkit-column-gap: 20px;
  -webkit-column-rule: 1px solid #EEE;
  -moz-column-rule: 1px solid #EEE; }

html, body {
  height: 100%; }

body {
  font: 12px/1.5 'Arial', sans-serif;
  color: #333;
  text-align: center; }

p {
  margin-bottom: 12px;
  font: 12px/1.5 'Arial', sans-serif; }

strong, b {
  font-weight: bold; }

hr {
  clear: both;
  margin: 5px 0;
  height: 1px;
  border: 0;
  background-color: #CCC; }

em, i {
  font-style: italic;
  color: #666; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  font-weight: bold;
  color: #333;
  letter-spacing: 0;
  font-family: 'Arial', sans-serif; }

h1 {
  font-size: 34px;
  margin-bottom: 11px;
  border-bottom: 1px solid #CCC; }

h2 {
  font-size: 20px;
  margin-bottom: 10px; }

h3 {
  font-size: 18px;
  margin-bottom: 9px; }

h4 {
  font-size: 16px;
  margin-bottom: 8px; }

h5 {
  font-size: 14px;
  margin-bottom: 7px; }

h6 {
  font-size: 12px;
  margin-bottom: 6px; }

h1 a:link, h1 a:visited, h2 a:link, h2 a:visited, h3 a:link, h3 a:visited, h4 a:link, h4 a:visited, h5 a:link, h5 a:visited, h6 a:link, h6 a:visited {
  color: #333;
  text-decoration: none; }
h1 a:hover, h1 a:active, h2 a:hover, h2 a:active, h3 a:hover, h3 a:active, h4 a:hover, h4 a:active, h5 a:hover, h5 a:active, h6 a:hover, h6 a:active {
  color: #000;
  text-decoration: underline; }

ul {
  padding: 10px 40px; }
  ul li {
    list-style: disc; }
  ul.simple {
    padding: 10px 20px; }
    ul.simple li {
      list-style: none;
      padding: 5px 0; }
      ul.simple li img {
        float: left;
        margin-right: 5px; }

a:link, a:visited {
  color: #265CFF; }

a:active, a:hover {
  text-decoration: underline; }

.clear {
  clear: both; }

.left, .right, .center {
  float: left;
  display: block; }

.alert {
  color: #d00; }

.txtL {
  text-align: left; }

.txtC {
  text-align: center; }

.txtR {
  text-align: right; }

.floatR {
  float: right; }

.floatL {
  float: left; }

.subTit {
  color: #666;
  font-weight: normal; }

/*---------------------------------------------------*/
.wrap {
  margin: auto;
  text-align: left;
  width: 960px; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

table {
  width: 100%;
  line-height: 1.2em;
  overflow-x: scroll; }
  table td, table th {
    padding: 10px;
    word-wrap: break-word; }
  table th {
    font-weight: bold; }
  table thead td, table thead th {
    font-weight: bold; }
  table tfoot tr td {
    background-color: #EEE;
    vertical-align: middle;
    font-size: 11px; }
    table tfoot tr td a {
      padding: 2px 5px;
      -webkit-border-radius: 2px 2px 2px 2px;
      -moz-border-radius: 2px 2px 2px 2px;
      border-radius: 2px 2px 2px 2px;
      text-decoration: none; }
      table tfoot tr td a:link, table tfoot tr td a:visited {
        text-decoration: none; }
      table tfoot tr td a:hover, table tfoot tr td a:active {
        color: #FFF; }
      table tfoot tr td a.activo {
        color: #FFF; }
  table.secundaria thead {
    background-color: #DDD;
    color: #666;
    font-style: italic; }
  table.secundaria tbody td {
    border-bottom: 1px solid #DDD; }
  table.secundaria tbody .item td {
    background-color: #EEE; }

/*---------------------------------------------------*/
/*===================================================      
                    CONTENIDO                                           
===================================================*/
#elastic_lists {
  margin: auto; }

/*===================================================            
                     BOTTOM                                                     
===================================================*/

/*# sourceMappingURL=style.css.map */
